{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier Utilisateurs</h1>

    {{ include('back/user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_back_user_index') }}"><button class="badge bg-info text-dark fs-6 p-3 mt-3 border-0">Retour à la liste</button></a>

{% endblock %}
