{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau lieu à l'école: {{ school.name }}</h1>

    {{ include('back/location/_form.html.twig') }}

    <a href="{{ path('app_back_school_edit', {'id': school.id}) }}"><button class="badge bg-info text-dark fs-6 p-3 border-0">Retour à l'école</button></a>
{% endblock %}
