{% extends 'base.html.twig' %}

{% block title %}Crééer une Chorégraphie{% endblock %}

{% block body %}
    <h1>Créer une Chorégraphie</h1>

    {{ include('back/choreography/_form.html.twig') }}

    <a href="{{ path('app_back_choreography_index') }}"><button class="badge bg-info text-dark fs-6 p-3 mt-3 border-0">Retour à la liste</button></a>
{% endblock %}
