{% extends 'base.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
    <h1>Créer une vidéo pour la partie {{ choreography_part.name }} de la chorégraphie {{ choreography_part.choreography.name }}</h1>

    {{ include('back/video/_form.html.twig') }}

    <a href="{{ path('app_back_choreography_part_edit', {'id': choreography_part.id}) }}"><button class="badge bg-info text-dark fs-6 p-3 border-0">Retour à la partie de Chorégraphie</button></a>
{% endblock %}
