<p>Bienvenue</p>
<p>Nous sommes heureux de t'accueillir comme nouveau membre de Dance Riser.</p>
<p>Pour commencer à utiliser Dance Riser, vous devez activer votre compte via le lien ci-dessous</p>
<a href="{{ signedUrl }}">Lien pour activer son compte</a>
<p>C'est parti pour danser!</p>